## Задание к итоговой работе по курсу "Python для анализа данных"

### Задание

Дан файл `HR.csv` с данными по опросу уровня удовлетворенности сотрудниками работой.

Признаки:
1. `satisfaction_level` - Уровень удовлетворенности работой
2. `Last_evaluation` - Время с момента последней оценки в годах
3. `number_projects` - Количество проектов, выполненных за время работы
4. `average_monthly_hours` - Среднее количество часов на рабочем месте в месяц
5. `time_spend_company` - Стаж работы в компании в годах
6. `work_accident` - Происходили ли несчастные случаи на рабочем месте с сотрудником
7. `left` - уволился ли сотрудник
8. `promotion_last_5years` - повышался ли сотрудник за последние пять лет
9. `department` - отдел в котором работает сотрудник
10. `salary` - относительный уровень зарплаты

#### Требуется выполнить следующее задание:

| # | Задание | Баллы |
| --- | :--- | :---: |
| <a href='#task1'>1</a> | Загрузите файл HR.csv в pandas dataframe | 5 |
| <a href='#task2'>2</a> | Рассчитайте основные статистики для переменных(среднее,медиана,мода,мин/макс,сред.отклонение). | 10 |
| <a href='#task3'>3</a> | Рассчитайте и визуализировать корреляционную матрицу дляколичественных переменных. Определите две самые скоррелированные и две наименее скоррелированные переменные. | 10 | 
| <a href='#task4'>4</a> | Рассчитайте сколько сотрудников работает в каждомдепартаменте. | 5 |
| <a href='#task5'>5</a> | Показать распределение сотрудников по зарплатам. | 5 |
| <a href='#task6'>6</a> | Показать распределение сотрудников по зарплатам в каждом департаменте по отдельности | 5 |
| <a href='#task7'>7</a> | Проверить гипотезу, что сотрудники с высоким окладом проводят на работе больше времени, чем сотрудники с низкимокладом | 10 |
| <a href='#task8'>8</a> | Рассчитать следующие показатели среди уволившихся и неуволившихся сотрудников (по отдельности): <br>  * Доля сотрудников с повышением за последние 5 лет<br>  * Средняя степень удовлетворенности<br>  * Среднее количество проектов | 10 |
| <a href='#task9'>9</a> | Разделить данные на тестовую и обучающую выборки. Построить модель LDA, предсказывающую уволился лисотрудник на основе имеющихся факторов (кроме `department` и `salary`) Оценить качество модели на тестовой выборки | 20 |
| <a href='#task10'>10</a> | Загрузить jupyter notebook с решение на github и прислать ссылку | 5 |

<!-- <a id='task1'></a> -->

<a id='task1'></a>
### Задание 1
Загрузите файл HR.csv в pandas dataframe

In [1]:
import lzma
import pandas as pd

file = lzma.open('data/HR.csv.xz', 'r')
hr = pd.read_csv(file)
hr

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

<a id='task2'></a>
### Задание 2
Рассчитайте основные статистики для переменных(среднее,медиана,мода,мин/макс,сред.отклонение).

<a id='task3'></a>
### Задание 3
Рассчитайте и визуализировать корреляционную матрицу дляколичественных переменных. Определите две самые скоррелированные и две наименее скоррелированные переменные.

<a id='task4'></a>
### Задание 4
Рассчитайте сколько сотрудников работает в каждомдепартаменте.

<a id='task5'></a>
### Задание 5
Показать распределение сотрудников по зарплатам.

<a id='task6'></a>
### Задание 6
Показать распределение сотрудников по зарплатам в каждом департаменте по отдельности

<a id='task7'></a>
### Задание 7
Показать распределение сотрудников по зарплатам в каждом департаменте по отдельности

<a id='task8'></a>
### Задание 8
Рассчитать следующие показатели среди уволившихся и неуволившихся сотрудников (по отдельности):
* Доля сотрудников с повышением за последние 5 лет
* Средняя степень удовлетворенности
* Среднее количество проектов

<a id='task9'></a>
### Задание 9
Разделить данные на тестовую и обучающую выборки.  
Построить модель LDA, предсказывающую уволился лисотрудник на основе имеющихся факторов (кроме `department` и `salary`).  
Оценить качество модели на тестовой выборки

<a id='task10'></a>
### Задание 10
Загрузить jupyter notebook с решение на github и прислать ссылку